*{
    padding: 0;
    margin: 0;
    line-height: 30px;
}
.welcome{
    background: url(../images/backgrounds/h_img.jpg) center center/cover no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Righteous', cursive;
}
.msg{
    padding-top: 160px;
}
.msg h2{
    padding: 10px;
}
.mouse{
    margin-top: 120px;
}
.about{
    height: 50vh;
    font-size: 18px;
    align-items: center;
    padding-top: 30px;
    font-family: 'Comfortaa', cursive;
}
.services{
    height: 50vh;
    background: url(../images/backgrounds/s_image.jpg) no-repeat;
    color: white;
    font-size: 18px;
    padding-top: 100px;
    font-family: 'Nunito', sans-serif;
}
.portfolio{
    padding: 50px 50px;
}
.do img{
    margin-top: 20px;
}
h5{
    font-weight: bold;
    margin-top: 20px;
}
.design{
    display: none;
}
.development{
    display: none;
}
.product_mgmt{
    display: none;
}
.myportfolio{
    margin-left: 80px;
}
.custom-background {
    max-width: 230px;
    height: 230px;
    margin: 15px;
    background-size: cover;
}
.custom-background::hover{

}
.project1{
    background: url(../images/portfolio/work1.jpg) ;
    
}
.project2{
    background: url(../images/portfolio/work2.jpg) ;
}
.project3{
    background: url(../images/portfolio/work3.jpg) ;
}
.project4{
    background: url(../images/portfolio/work4.jpg) ;
}
.project5{
    background: url(../images/portfolio/work5.jpg) ;
}
.project6{
    background: url(../images/portfolio/work6.jpg) ;
}
.project7{
    background: url(../images/portfolio/work7.jpg) ;
}
.project8{
    background: url(../images/portfolio/work8.jpg) ;
}
.project{
    background-color: rgba(255, 255, 255, 0.815);
    width: 200px;
    height: 230px;
    opacity: 0;
}
.project p{
    padding-top: 100px;
}
.contact{
    height: 100vh;
}
.mycontact{
    height: 70vh;
    color: white;
    background: url(../images/backgrounds/c_image.jpg);
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.social img{
    padding: 20px 10px;
}
.input{
    background: transparent;  
    width: 390px; 
    border: 1px solid white;
    margin-right: 10px;
    color: white;
}
.input::-webkit-input-placeholder{
    color: white;
    padding-left: 10px;
}
textarea::-webkit-input-placeholder{
    color: white;
    padding-left: 10px;
}
.message{
    background: transparent;
    width: 800px;
    margin-top: 15px;
    border: 1px solid white;
    color: white;
}
.button{
    padding: 2px 8spx;
    width: 100px;
    border: none;
    border-radius: 10px;
    }
.button:hover{
    opacity: 0.7;
}
.refresh{
    padding: 2px 8spx;
    width: 100px;
    border: none;
    border-radius: 10px;
    }
.refresh:hover{
    opacity: 0.7;
}
#error{
    color: red;
}
